@model Winkellijst_ASP.Models.WinkelLijst

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h3> Winkellijst</h3>
            <hr />

            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Gebruiker)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Gebruiker.GebruikerId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.AanmaakDatum)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.AanmaakDatum)
                </dd>
            </dl>
            <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.WinkelLijstId">Bewerk</a> 
            <a class="btn btn-dark" asp-controller="WinkelLijstProduct" asp-action="Index" asp-route-listId="@Model.WinkelLijstId"> + Producten Toevoegen </a>
            <a class="btn btn-primary " asp-action="Index">Terug naar Winkellijst</a>
        </div>
    </div>
</div>


