@model IEnumerable<Winkellijst_ASP.Models.WinkelLijst>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AanmaakDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WinkelLijstProducts.Count)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.WinkelLijstId"> Winkelijst @Html.DisplayFor(modelItem => item.WinkelLijstId)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AanmaakDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinkelLijstProducts.Count)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WinkelLijstId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.WinkelLijstId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
